<section class="card">
  <div class="card-body">
    <h1>About Notes App</h1>
    <p>
      Notes App is a simple App to manage Notes developed for you with Nodejs, Express,
      Mongodb and Javascript Technologies.
    </p>
  </div>
</section>
