<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Notes App!</h1>
  <p class="lead">Welcome to Notes App, the ultimate tool to organize your thoughts and remember your important tasks. Our intuitive platform allows each registered user to generate and manage notes efficiently and easily. Whether you need a reminder for an important meeting, a to-do list, or just a place to capture your ideas, Notes App is here to help you keep your life organized.</p>
  <hr class="my-4" />
  <p>With a minimalist interface, you'll never forget an important task again. Sign up today and start transforming the way you organize.
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Register</a>
  </div>
</div>